.body {
  height: 100vh;
  display: grid;
  place-items: center;
  justify-content: center;
}

.box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.peoples_waiting_box {
  margin-bottom: 30px;
}

.time {
  font-size: 48px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 8px;
}